{% extends "base_generic.html" %}

<!DOCTYPE html>
<html lang="en-US">
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

{% block content %}
<body>
	{% load static %}
	<h1>Lokahi Fintech Crowdfunding</h1>
  	<p>Welcome to Locahi Fintech! A System to Support Secure Crowdfunding Information Sharing between General Venture Capitalists and Companies Seeking Investment.</p>
  	<p>Please Sign In or Create an Account to continue.</p>
</body>

{% endblock %}