{% extends "base_generic.html" %}

<!DOCTYPE html>
<html lang="en-US">
<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

{% block content %}
<body>
	{% load static %}
	<h1>Users</h1>
	{% if user.is_authenticated %}
		{% if data %}
			{% for user in data %}
			{% if user.username != 'admin' %}
			<p>{{user.first_name}} {{user.last_name}} ({{user.username}} {{user.public_key}}) 
					{% if user.is_suspended == False %}<a href="{% url 'suspend' uname=user.username%}" style="font-size: 0.5em">Suspend Account</a> 
					{% else %}<a href="{% url 'suspend' uname=user.username%}" style="font-size: 0.5em">Unsuspend Account</a>{% endif %}</p>
			{% endif %}
			{% endfor %}
		{% else %}
		<p> No available users </p>
		{% endif %}
  	{% endif %}
</body>

{% endblock %}