{% extends "base_generic.html" %}

{% block content %}
    <h1>Your Message </h1>
    <ul>
      <li>
         Message: {{ message_body }}
      </li>
    </ul> 
    {% if user.is_authenticated and isItPrivate and is_encrypted and user.username == recipient.username %}
      <ul> <li> Encrypted message: {{ encrypted_message_body }} </li> </ul> <br>
    	<ul> <a href="{{ message.get_download_url }}"> Download your encrypted message </a> </ul> <br/>
    {% elif user.is_authenticated and isItPrivate and is_encrypted and not user.username == recipient.username %}
    	You cannot view this message as you are not the recipient of this encrypted private message. 
    {% elif not user.is_authenticated and isItPrivate and is_encrypted and user.username == recipient.username %}
    	Please authenticate to see this encrypted message
    {% endif %}

{% endblock %}