{% extends "base_generic.html" %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
    <h1>{{report_name}}</h1>
    <h2>Rating: {% if num_ratings == 0 %} no ratings {% elif current_rating == 1 %}<i class="fa fa-star"></i> {% elif current_rating == 2 %}<i class="fa fa-star"></i><i class="fa fa-star"></i> {% elif current_rating == 3 %} <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> {% elif current_rating == 4 %}<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>{% else %}<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>{% endif %} {% if user.username != owner %}
    <a href="{% url 'rate_report' report_id=id%}" style="font-size: 0.8em">Rate this report</a>{% endif %}</h2>
    <ul>
        <li>Owner: {{owner}}</li>
        <li>Company: {{company_name}}</li>
        <li>Phone #: {{company_phone}}</li>
        <li>Location: {{company_location}}</li>
        <li>Country: {{company_country}}</li>
        <li>Sector: {{company_sector}}</li>
        <li>Industry: {{company_industry}}</li>
        <li>Projects: {{current_projects}}</li>
        <li>Info: {{info}}</li>
        <li>Privacy: {{privacy_setting}}</li>
        <li>Files:
        {% if files.length != 0 %}
            <ul>
            {% for f in files %}
                {% if f.encrypted == False %}<li><a href="{{f.file.url}}">{{ f.file }}</a></li>
                {% else %}<li>{{ f.file }} (this file is encrypted and unavailable for download)</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
        </li>
        <li>Date created: {{timestamp}}</li>
    </ul>
    <a href="{% url 'add_to_favorites' report_id=id%}">Favorite</a> <br/>
    {% if user.user_type == "Investor"%}
    <a href="{% url 'add_files' report_id=id%}">Add files</a><br/> {%endif%}
    <a href="{{ get_comments_url }}">Comments </a> <br/>
    <a href="{{ create_comments_url }}">Comment on this report</a>

    {% if user.user_type == 'manager' %}
    {% endif %}
{% endblock %}
