{% extends "base_generic.html" %}

{% block content %}
    <h1>Your Group: {{name}} </h1>
    <ul><b>Users:</b>
    	{% for u in users %}
      <li>
         {{u.username}} {% if user.username == "admin"%}<a href="{% url 'remove_from_group' group_name=id uname=u.username%}" style ="font-size:0.5em">Remove from group</a>{% endif %}
      </li>
      	{% endfor %}
     </ul>
     <ul><b>Reports:</b>
     	{% for r in reports %}
      <li>
         <a href="{{ r.get_absolute_url }}">{{ r.report_name }}</a>
      </li>
      	{% endfor %}
    </ul>
{% endblock %}
