{% extends "base_generic.html" %}

{% block content %}
    <h1>Your Messages</h1>

    {% if user.is_authenticated %}
    <a href="{% url 'create_message'%}">Create A Message</a>
    {% endif %}

    {% if message_list %}
    <ul>
     <ul> <h2>Received</h2> </ul>
      {% for message in message_list %}
          {% if user.username == message.recipient.username %}

        <h3>Message</h3>
          <li>
            Recipient: {{ message.recipient.username }}
          </li>
          <li>
             <a href="{{ message.get_absolute_url }}"> Click to see message </a>
          </li>
          <li>
              Private? {{ message.isItPrivate }}
          </li>
          <li>
          {% if message.isItPrivate == True %}
          <a href="{{ message.get_delete_url }}">Click to delete your private message</a>
          {% endif %}
          <li>
          {% endif %}

      {% endfor %}
     <ul> <h2>Sent</h2> </ul>
      {% for message in message_list %}
          {% if user.username == message.sender.username %}

        <h3>Message to {{ message.recipient.first_name }} {{ message.recipient.last_name }}</h3>
          <li>
            Recipient: {{ message.recipient.username }}
          </li>
          <li>
             <a href="{{ message.get_absolute_url }}"> Click to see message </a>
          </li>
          <li>
              Private? {{ message.isItPrivate }}
          </li>
          {% endif %}

      {% endfor %}
    </ul>
    {% else %}
      <p>There are no messages.</p>
    {% endif %}
 
{% endblock %}