{% extends "base_generic.html" %}

{% block content %}
    <h1>Your Messages</h1>

    {% if message_list %}
    <ul>
    <form action="{% url 'my_messages' %}" method="get">
    <input id="ml-search" type="text"
           name="message" value="{{ request.GET.message }}"
           class="form-control" />
    <input type="submit"
           value="Search" class="btn btn-success" />
    </form>
      {% for message in message_list %}
      <li>
        <a href="{{ message.get_absolute_url }}">Recipient: {{ message.recipient.username }}</a>,
         Message: {{ message.message_body }},
         Privacy: {{ message.privacy }}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no messages.</p>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'create_message'%}">Create A Message</a>
    {% endif %}
{% endblock %}