{% extends "base_generic.html" %}

{% block content %}
    {% if user.is_authenticated and user.user_type == 'Company'%}
      <h1>My Reports</h1>
    {% elif user.user_type == 'Investor' or user.user_type == 'manager'%}
      <h1>All Reports</h1>
    {% endif %}
    <a href="{% url 'my_favorites' %}">Favorites</a>
    {% if report_list %}

    <ul>

      {% if user.user_type == "manager" or user.accepted_manager_privileges %}

        {% for report in report_list %}
        <li>
          <a href="{{ report.get_absolute_url }}">Name: {{report.report_name}}</a>,
           Company: {{report.company_name}},
           Privacy: {{report.privacy_setting}}<br/>
           <a href="{{ report.get_edit_url }}" style="margin-left:1em">Edit this report</a>,
           <a href="{{ report.get_delete_url }}">Delete this report</a>,
           <a href="{{ report.get_comments_url }}"> Comments </a>
        </li>
        {% endfor %}
      {% elif user.user_type == 'Investor' %}

        {% for report in report_list %}
        {% if report.privacy_setting == 'Public' %}
        <li>
          <a href="{{ report.get_absolute_url }}">Name: {{report.report_name}}</a>,
           Company: {{report.company_name}},
           Privacy: {{report.privacy_setting}}<br/>
           <a href="{{ report.get_comments_url }}"> Comments </a>

        </li>
        {% endif %}
        {% endfor %}
      {% else %}
        <!--Company users can view all reports that they created (public or private)-->        
        <form action="{% url 'my_reports' %}" method="get">

        {% for report in report_list %}
        {% if user.username == report.owner or report.privacy_setting == 'Public' %}
          <li>
            <a href="{{ report.get_absolute_url }}">Name: {{report.report_name}}</a>,
             Company: {{report.company_name}},
             Privacy: {{report.privacy_setting}},
             <a href="{{ report.get_edit_url }}">Edit report</a>,
             <a href="{{ report.get_comments_url }}"> Comments </a>
        {% endif %}
        {% endfor %}
      {% endif %}
    </ul>

    <h4>
      To edit a report, click on the link at the end of the report preview and change the fields that need to be changed.
      For fields that should stay the same, copy and paste the old content back into the form. Report name, report owner, and privacy
      cannot be updated.
    </h4>

    {% else %}

      <p>There are no reports.</p>
    {% endif %}
    {% if user.user_type == 'Company' %}
      <a href="{% url 'create_report'%}">Create A Report</a>
    {% endif %}
{% endblock %}
