{% extends "base_generic.html" %}

{% block content %}
    <h1>Your Messages</h1>

    {% if user.is_authenticated %}
    <a href="{% url 'create_message'%}">Create A Message</a>
    {% endif %}

    {% if message_list %}
    <ul>
      {% for message in message_list %}
        <h3>Message to {{ message.recipient.first_name }} {{ message.recipient.last_name }}</h3>
          <li>
            Recipient: {{ message.recipient.username }}
          </li>
          <li>
             <a href="{{ message.get_absolute_url }}"> Click to see message </a>
          </li>
          <li>
              Private? {{ message.isItPrivate }}
          </li>
          <li>
          {% if message.isItPrivate == True %}
          <a href="{{ message.get_delete_url }}">Click to delete your private message</a>
          {% endif %}
          <li>
      {% endfor %}
    </ul>

    {% else %}
        <form action="{% url 'my_messages' %}" method="get">
    <input id="ml-search" type="text"
           name="message" value="{{ request.GET.message }}"
           class="form-control" />
    <input type="submit"
           value="Search" class="btn btn-success" />
    </form>
      <p>There are no messages.</p>
    {% endif %}
 
{% endblock %}