{% extends "base_generic.html" %}

{% block content %}
    {% if user.is_authenticated and user.user_type == 'Company'%}
      <h1>My Reports</h1>
    {% elif user.user_type == 'Investor' or user.username == 'admin'%}
      <h1>All Reports</h1>
    {% endif %}
    {% if report_list %}

    <ul>

      {% if user.username == "admin" %}
           <form action="{% url 'my_reports' %}" method="get">
    <input id="rl-search" type="text"
           name="report" value="{{ request.GET.report }}"
           class="form-control" />
    <input type="submit"
           value="Search" class="btn btn-success" />
    </form>
        {% for report in report_list %}
        <li>
          <a href="{{ report.get_absolute_url }}">Name: {{report.report_name}}</a>,
           Company: {{report.company_name}},
           Phone #: {{report.company_phone}},
           Files: {{report.filename}},
           Privacy: {{report.privacy_setting}}
        </li>
        {% endfor %}
      {% elif user.user_type == 'Investor' %}
          <form action="{% url 'my_reports' %}" method="get">
    <input id="rl-search" type="text"
           name="report" value="{{ request.GET.report }}"
           class="form-control" />
    <input type="submit"
           value="Search" class="btn btn-success" />
    </form>
        {% for report in report_list %}
        {% if report.privacy_setting == 'Public' %}
        <li>
          <a href="{{ report.get_absolute_url }}">Name: {{report.report_name}}</a>,
           Company: {{report.company_name}},
           Phone #: {{report.company_phone}},
           Files: {{report.filename}},
           Privacy: {{report.privacy_setting}}
        </li>
        {% endif %}
        {% endfor %}
\     {% else %}
          <form action="{% url 'my_reports' %}" method="get">
    <input id="rl-search" type="text"
           name="report" value="{{ request.GET.report }}"
           class="form-control" />
    <input type="submit"
           value="Search" class="btn btn-success" />
    </form>
        {% for report in report_list %}
        {% if user.username == report.owner %}
          <li>
            <a href="{{ report.get_absolute_url }}">Name: {{report.report_name}}</a>,
             Company: {{report.company_name}},
             Phone #: {{report.company_phone}},
             Files: {{report.filename}},
             Privacy: {{report.privacy_setting}}
        {% endif %}
        {% endfor %}
      {% endif %}
    </ul>

    {% else %}
        <form action="{% url 'my_reports' %}" method="get">
    <input id="rl-search" type="text"
           name="report" value="{{ request.GET.report }}"
           class="form-control" />
    <input type="submit"
           value="Search" class="btn btn-success" />
    </form>
      <p>There are no reports.</p>
    {% endif %}
    {% if user.user_type == 'Company' %}
      <a href="{% url 'create_report'%}">Create A Report</a>
    {% endif %}
{% endblock %}