{% extends "base_generic.html" %}

{% block content %}
    <h1>Your Reports</h1>

    {% if report_list %}
    <ul>

      {% for report in report_list %}
      <li>
        <a href="{{ report.get_absolute_url }}">Name: {{report.report_name}}</a>,
         Company: {{report.company_name}},
         Phone #: {{report.company_phone}},
         Files: {{report.filename}},
         Privacy: {{report.privacy_setting}}
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no reports.</p>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{% url 'report'%}">Create A Report</a>
    {% endif %}
{% endblock %}